<h1>Day 34</h1>
<div>
    <div>from member: {{ count }}</div>
    <div>from observable: {{ countObs$ | async }} </div>
    <div>from observable 2: {{ countObs2$ | async }} </div>

    <br>
    <button type="button" (click)="generate()">Generate</button>
    <h2>{{ log }} </h2>
</div>
<hr>

<app-input></app-input>
<h2> Output: {{ output$ | async }} </h2>
<hr>

<app-display></app-display>
<hr>

<div *ngIf="dogObs$ | async as o else noImage">
    <div>Status: {{ o | json }} </div>
    <img [src]="o.message" alt="" height="150">
</div>
<div>
    <button type="button" (click)="getDogsAsObservable()">GET (Observable)</button>
</div>
<div *ngIf="dogProm$ | async as p else noImage">
    <div>Link: {{ p.message }} </div>
    <img [src]="p.message" alt="" height="150">
</div>
<div>
    <button type="button" (click)="getDogsAsPromise()">GET (Promise)</button>
</div>

<ng-template #noImage>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png" alt="" height="150">
    </div>
    <br>
</ng-template>

